.login-page {
    width: 100%;
    height: 100%;
    display: flex;
    background: #F8F8F8;
  }
  
  .login-page-title {
    position: absolute;
    top: 214px;
    left: 943px;
  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35.1px;
  
    /* cinza */
    color: #575757;
  }
  